.infoHoverWrapper {
  position: relative;
}
.infoHoverBox {
  position: absolute;
  top: -100%;
  /* transform: translate(-50%, -50%); */
  /* min-height: 180px; */
  width: 312px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 16px; */
  /* border-radius: 8px; */
  background: rgb(38, 38, 38);
  color: var(--white);
}
