#landingPage {
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.displayContainer {
  position: relative;
}
#linesContainer {
  height: 312px;
  width: 312px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 18px;
}

#linesContainer a {
  z-index: 999999;
}

#linesContainer:hover a > .hoverBtn {
  display: block;
}

#linesContainer a.disable { 
  display: none;
}

.insertTemplate {
  display: none;
}

.insertTemplate.enable {
  display: block;
}

div#hoverPen:hover {
  background-color: #ffc700;
}

#linesContainer {
  cursor: pointer;
}

#hoverInsert {
  display: block
}

.alterSection {
  display: none;
  position: relative;
  z-index: 9999999;
}

.alterSection.active {
  display: block;
}

.ETSection {
  display: none;
}

.ETSection.active {
  display: block;
  position: relative;
  z-index: 9999999;
}

.shadowSpirograph {
  position: absolute;
  top: 0;
}

