#loginPage {
  position: relative;
  height: 652px;
  width: 360px;
  background: rgb(37, 37, 37);
  z-index: 0;
}
#loginPage a {
  text-decoration: none;
}
#loginContainer {
  height: 100%;
  width: 312px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 9999;
}
#loginPage::before {
  content: "";
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 18px 18px 0 0;
}
#loginDisplay {
  margin-top: 8px;
  padding-bottom: 24px;
  height: 212px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}
#loginAvatar {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
}
#loginAvatar > * {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#googleAccountInfo {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#googleAccountInfo #signInContainer {
  cursor: pointer;
}

#signInContainer > button {
  height: 32px;
  background: rgba(45, 45, 45, 0.7);
  outline: none;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

#signInContainer > button > svg {
  margin-left: 14px;
}
#signInContainer > button > span {
  margin: 0 12px 0 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
#accountInfo {
  padding: 12px 32px;
  text-align: center;
  border-radius: 65px;
  background: rgba(45, 45, 45, 0.7);
}
#accountInfo > h4 {
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: 600;
  color: #fff;
}

#accountInfo > h6 {
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#loginLinks {
  width: 312px;
  z-index: 9999;
}
.loginTab {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 16px;
}
.loginTabTxt {
  width: 232px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.loginTabTxt > .lightTxtGrey {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: var(--mediumLightTranslucency);
}

#logoutContainer {
  position: absolute;
  bottom: 24px;
  left: 125px;
  height: 44px;
  width: 110px;
}
#logoutContainer > button {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  cursor: pointer;
}
#logoutContainer > button > span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: var(--white);
}
