.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.modalBox {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 180px;
  width: 312px;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background: rgb(38, 38, 38);
  background: linear-gradient(
    -45deg,
    rgba(38, 38, 38, 1) 0%,
    rgba(49, 49, 49, 1) 55%,
    rgba(18, 17, 17, 1) 100%
  );
}
