.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}
.modalHeading {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white);
  width: 100%;
  text-align: start;
}
.modalInputContainer {
  min-height: 58px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.modalInputContainer > * {
  margin-bottom: 4px;
}
.modalText {
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  line-height: 20px;
}
.modalSubtxt {
  color: var(--white);
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
}
.modalInput {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 8px;
  outline: none;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 12px;
}
.modalWarning {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  color: var(--red);
}
.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.modalBox {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 180px;
  width: 312px;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  background: rgb(38, 38, 38);
  background: linear-gradient(
    151.68deg,
    #262626 17.51%,
    #313131 57.62%,
    #121111 95.31%
  );
}
