#MyTemplates {
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#myTemplatesDisplayContainer {
  height: 312px;
  width: 312px;
  z-index: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.24);
  border-radius: 18px;
  cursor: pointer;
}
.myTemplatesHoverButton {
  z-index: 2;
  position: absolute;
}
#myTemplatesHoverPen {
  height: 32px;
  width: 32px;
  background-color: #ffc700;
  border-radius: 50%;
  bottom: 28px;
  right: 28px;
}
#myTemplatesHoverInsert {
  width: 137px;
  height: 20px;
  bottom: 0px;
  left: 83px;
  background-color: rgba(255, 199, 0, 0.1);
  color: #ffc700;
  font-size: 10px;
  font-weight: 500;
  border-radius: 14px 14px 0 0;
  z-index: 999999;
}

#myTemplatesHoverInsert > div > span {
  width: 85px;
  text-align: center;
}

#myTemplatesHoverInsert > div {
  margin: 4px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#myTemplatesDisplayContainer:hover > .myTemplatesHoverButton {
  display: block;
}

#myTemplatesDisplayContainer a div#hoverPen {
  display: block;
}
#myTemplatesDisplayContainer a div#hoverPen:hover {
  background-color: #ffc700;
}

.myTemplates-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin: 24px 0 24px 0;
  position: relative;
}

.myTemplates-title::after {
  content: "";
  background-color: var(--yellow);
  position: absolute;
  height: 2px;
  width: 36px;
  bottom: -6px;
  left: 0;
}

/* Empty MyTemplates Page */
#emptyMyTemplatesContainer {
  height: 652px;
  width: 100%;
  background-color: var(--bgdGrey);
  position: relative;
}

#emptySVGcontainer {
  position: absolute;
  top: 249px;
  left: 144px;
}
#emptyMyTemplatesTxt {
  height: 62px;
  width: 220px;
  position: relative;
  top: 346px;
  left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#emptyMyTemplatesTxt h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--white);
  text-align: center;
}
#emptyMyTemplatesTxt h3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--mediumLightTranslucenc);
  text-align: center;
}
#emptyMyTemplatesContainer button {
  position: relative;
  top: 432px;
  left: 114px;
}
