.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  height: 68px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(37, 37, 37);
  z-index: 999999999999;
  position: relative;
}

.navbar .sectionTitle {
  color: white;
  font-size: 14px;
  margin-left: -24px;
}
#logo,
#logo > path {
  transition: all 0.3s ease-in-out;
}
#logo:hover > path {
  fill: #fff;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 28px;
}

.links #createPage {
  width: 72px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out;
}
.links #createPage:hover {
  border: 1px solid #fff;
}
.links #createPage > div {
  height: 100%;
  width: 100%;
  padding: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.links #navLoginPageLink {
  width: 28px;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
}
.links #navLoginPageLink:hover {
  border: 1px solid #fff;
}
.links #navLoginPageLink.userPhoto {
  border: none;
}

.links #navLoginPageLink img {
  width: 100%;
  border-radius: 6px;
}

a#createPage.active {
  visibility: hidden;
}
