.templatesContainer {
  width: 312px;
  height: 295px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: block;
  position: relative;
  z-index: 4;
}
.chooseTemplates {
  color: #fff;
  font-size: 14px;
  margin: 24px 0 4px 0;
  position: relative;
}
.chooseTemplates::after {
  content: "";
  background-color: var(--yellow);
  position: absolute;
  height: 4px;
  width: 29px;
  bottom: -6px;
  left: 0;
}

.templateTransition {
  height: 30px;
  width: 100%;
  position: sticky;
  top: -1px;
  left: 0;
  background: linear-gradient(
    180deg,
    #252525 0%,
    rgba(37, 37, 37, 0.428686) 56.04%,
    rgba(37, 37, 37, 0) 100%
  );
  z-index: 3;
}

.templatesContainer::-webkit-scrollbar {
  display: none;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 21px;
  z-index: 2;
  padding-bottom: 21px;
}

.templateDisplay {
  height: 90px;
  width: 90px;
  background: rgb(60, 60, 60);
  border-radius: 8px;
  position: relative;
}
.templateDisplay:hover {
  background: rgb(70, 70, 70);
}
.templateDisplay:hover > .hoverBtnSecondary {
  display: block;
}
